<%= form_with(model: approval, local: true) do |form| %>
  <% if approval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(approval.errors.count, "error") %> prohibited this approval from being saved:</h2>

      <ul>
      <% approval.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :loan_id %>
    <%= form.text_field :loan_id %>
  </div>

  <div class="field">
    <%= form.label :approve_by %>
    <%= form.text_field :approve_by %>
  </div>

  <div class="field">
    <%= form.label :approve_level %>
    <%= form.number_field :approve_level %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
