<!--<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>-->

<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center mt-4">
    <div class="col-md-5">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-md">
              <div class="p-5">
                <div class="text-center">
                  <%= image_tag "sena-logo1.png", class: "img-fluid", style:"height: 150px;" %>
                  <h5 style="color: blue;">Timesheet</h5>
                </div>
                <hr>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "user"}) do |f| %>
                  <div class="form-group">
                    <%= f.text_field :username, class: "form-control form-control-user", placeholder: "Enter Username.." %>
                  </div>
                  <div class="form-group">
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-user", placeholder: "Password" %>
                  </div>
                  <%= f.submit "Login", class: "btn btn-primary btn-user btn-block" %>
                  <hr>
                  <div class="copyright text-center my-auto">
                       <span>&copy;<%= Date.today.year %> <br>PT. Solusi Energi Nusantara</span>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>