<%# Modal Comment %>
<div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModal"></h5>
        <button type="button" class="close" id="close-modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <input type="hidden" id="id_proyek">
          <div class="form-group">
            <label>Keterangan</label>
            <div class="input-group keterangan"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="comment2" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModal"></h5>
        <button type="button" class="close" id="close-modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <input type="hidden" id="id_proyek">
          <div class="form-group">
            <label>Keterangan</label>
            <div class="input-group keterangan2"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%# End Modal %>

<div class="row justify-content-center">
  <div class="col-12">
      <div class="row align-items-center my-3">
          <div class="col">
          <h2 class="page-title">Weekly Timesheet</h2>
          </div>
          <div class="col-auto d-none d-lg-flex">
              <%# <a href="timesheet-week50.html" class="btn bg-white" style="box-shadow: 6px 8px 9px rgba(203, 216, 227, 0.5);"><span class="fe fe-chevron-left fe-16"><span></a>      %>
              <input class="form-control border rounded mr-2 ml-2 tanggal-timesheets" style="box-shadow: 6px 8px 9px rgba(203, 216, 227, 0.5);" id="example-week" type="date" name="week">           
              <%# <a href="timesheet-week52.html" class="btn bg-white" style="box-shadow: 6px 8px 9px rgba(203, 216, 227, 0.5);"><span class="fe fe-chevron-right fe-16"><span></a> %>
          </div>
      </div>
      <div id='calendar'></div>
      <div class="row">
          <div class="col-md-12">
          <!-- table -->
            <style>
            .table-container {
              display: flex;
              overflow-x: hidden; /* Mengizinkan scroll horizontal */
              border: 1px solid #ccc;
            }
            .frozen-column {
              min-width: 150px; /* Lebar kolom pertama */
              position: sticky;
              left: 0;
              z-index: 2;
              border-right: 1px solid #ddd;
            }
            th, td {
              text-align: left;
              border: 1px solid #ddd;
              background-color: #ffffff; 
            }
            th {
                background-color: #f8f9fa;
            }
            .days-column {
                min-width: 75px; /* Lebar per kolom bulan */
              }
            </style>
            <style>
            .tooltip {
              position: relative;
              display: inline-block;
              border-bottom: 1px dotted black;
            }

            .tooltip .tooltiptext {
              visibility: hidden;
              width: 120px;
              background-color: #555;
              color: #fff;
              text-align: center;
              border-radius: 6px;
              padding: 5px 0;
              position: absolute;
              z-index: 1;
              bottom: 125%;
              left: 50%;
              margin-left: -60px;
              opacity: 0;
              transition: opacity 0.3s;
            }

            .tooltip .tooltiptext::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: #555 transparent transparent transparent;
            }

            .tooltip:hover .tooltiptext {
              visibility: visible;
              opacity: 1;
            }

            .info-button {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              background-color: grey; /* Warna biru */
              color: white;
              outline: grey solid 1.5px;
              border: none;
              border-radius: 50%;
              font-weight: bold;
              width: 10px;
              height: 10px;
              font-size: 15px;
              cursor: pointer;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
              transition: background-color 0.3s, transform 0.2s;
            }

            .info-button2 {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              background-color: grey; /* Warna biru */
              color: white;
              outline: grey solid 1.5px;
              border: none;
              border-radius: 50%;
              font-weight: bold;
              width: 10px;
              height: 10px;
              font-size: 15px;
              cursor: pointer;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
              transition: background-color 0.3s, transform 0.2s;
            }

            .info-button:hover {
              background-color: #0056b3; /* Warna biru lebih gelap */
              transform: scale(1.1); /* Zoom efek */
            }

            .info-button2:hover {
              background-color: #0056b3; /* Warna biru lebih gelap */
              transform: scale(1.1); /* Zoom efek */
            }

            .info-button:active {
              transform: scale(0.95); /* Efek klik */
            }

            .info-button2:active {
              transform: scale(0.95); /* Efek klik */
            }
            </style>
            <form class="form-timesheets">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <table class="table table-borderless table-striped" id="timesheets">
                  <thead>
                  <tr>
                      <th class="text-right"><button type="button" class="btn mb-2 btn-light btn-sm mt-3 tambah-timesheet"><span class="fe fe-plus-circle fe-16 text-primary"><span></button></th>
                      <th>Project</th>
                      <th></th>
                      <th class="frozen-column w-25">Activity</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td></td>
                      <td class="frozen-column fe-12" colspan="2">
                      <input type="hidden" value="<%= rand(100000..999999) %>" id="parent-id">
                        <select class="form-control form-control-sm select2 bg-transparent border-0 text-center proyek" id="proyek" title="Judul Popover">
                          <%# <optgroup label="Select Project"> %>
                            <option value="" >Select Project</option>
                          <%# </optgroup> %>
                        </select>
                      </td>
                      <td class="frozen-column" scope="col">
                        <select class='form-control form-control-sm mr-sm-2 bg-transparent border-0 text-muted select2 aktifitas' id="aktifitas" type='search' style="width: 100%;">
                          <%# <optgroup label="Select Project"> %>
                            <option value="" >Select Activity</option>
                          <%# </optgroup> %>
                        </select>
                      </td>
                  </tr>
                  </tbody>
                  <thead>
                  <tr>
                      <th colspan="3">
                        <div class="d-flex justify-content-between">
                          <button type="button" class="btn mb-2 btn-success text-white ml-2 mr-2" id="simpanDraft" data-id="draft">Save as Draft</button>
                          <button type="button" class="btn mb-2 btn-secondary text-white ml-2 mr-2" id="simpanSubmit"><span class="fe fe-check fe-22 mr-2"></span>Submit</button>
                        </div>
                      </th>
                      <th class="frozen-column"></th>
                      <th class="days-column">00h:00m</th>
                      <th class="days-column">00h:00m</th>
                      <th class="days-column">00h:00m</th>
                      <th class="days-column">00h:00m</th>
                      <th class="days-column">00h:00m</th>
                      <th class="days-column">00h:00m</th>
                      <th class="days-column">00h:00m</th>
                      <%# <th>00h:00m</th> %>
                  </tr>
                  </thead>
              </table>
            </form>
          </div> <!-- .col -->
      </div> <!-- .row -->
  </div>
  <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="list-group list-group-flush my-n3">
            <div class="list-group-item bg-transparent">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="fe fe-box fe-24"></span>
                </div>
                <div class="col">
                  <small><strong>Package has uploaded successfull</strong></small>
                  <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                  <small class="badge badge-pill badge-light text-muted">1m ago</small>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-transparent">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="fe fe-download fe-24"></span>
                </div>
                <div class="col">
                  <small><strong>Widgets are updated successfull</strong></small>
                  <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                  <small class="badge badge-pill badge-light text-muted">2m ago</small>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-transparent">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="fe fe-inbox fe-24"></span>
                </div>
                <div class="col">
                  <small><strong>Notifications have been sent</strong></small>
                  <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                  <small class="badge badge-pill badge-light text-muted">30m ago</small>
                </div>
              </div> <!-- / .row -->
            </div>
            <div class="list-group-item bg-transparent">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="fe fe-link fe-24"></span>
                </div>
                <div class="col">
                  <small><strong>Link was attached to menu</strong></small>
                  <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                  <small class="badge badge-pill badge-light text-muted">1h ago</small>
                </div>
              </div>
            </div> <!-- / .row -->
          </div> <!-- / .list-group -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- .row -->

   <script>

    const btn_simpan_draft_timesheets = document.querySelector('#simpanDraft');
    const btn_simpan_submit_timesheets = document.querySelector('#simpanSubmit');
    const form_sertification = document.querySelector('.form-timesheets');

    btn_simpan_draft_timesheets.addEventListener('click', (e) => {
      var value = $('#simpanDraft').data('id');
      $('.tipe-submit').val(value);
      e.preventDefault();
      $('#simpanTimesheets').text('Loading...');
      const formData = new FormData(form_sertification);
      let xhr = new XMLHttpRequest();  
      xhr.open("POST", "/transaksi/timesheets/create", true);
      xhr.send(formData);
      xhr.addEventListener("load", function(e){
        let result = JSON.parse(xhr.response);
        if (result['status'] == 200) {
          // Swal.fire(
          //   'Success',
          //   `${result['msg']}`,
          //   'success'
          // )
          window.location.href = "/timesheets";
        }else if(result['status'] == 500){
          // Swal.fire(
          //   'Fail',
          //   `${result['msg']}`,
          //   'error'
          // )
          $('#simpanTimesheets').text('Simpan');
        }
      });
    });

    btn_simpan_submit_timesheets.addEventListener('click', (e) => {
      var value = $('#simpanDraft').data('id');
      $('.tipe-submit').val(value);
      e.preventDefault();
      $('#simpanTimesheets').text('Loading...');
      const formData = new FormData(form_sertification);
      let xhr = new XMLHttpRequest();  
      xhr.open("POST", "/transaksi/timesheets/create", true);
      xhr.send(formData);
      xhr.addEventListener("load", function(e){
        let result = JSON.parse(xhr.response);
        if (result['status'] == 200) {
          // Swal.fire(
          //   'Success',
          //   `${result['msg']}`,
          //   'success'
          // )
          window.location.href = "/timesheets";
        }else if(result['status'] == 500){
          // Swal.fire(
          //   'Fail',
          //   `${result['msg']}`,
          //   'error'
          // )
          $('#simpanTimesheets').text('Simpan');
        }
      });
    });

   function addRow() {
            const table = document.getElementById('dynamicTable').getElementsByTagName('tbody')[0];
            const newRow = table.insertRow();

            const cell1 = newRow.insertCell(0);
            const cell2 = newRow.insertCell(1);
            const cell3 = newRow.insertCell(2);

            cell1.innerHTML = '<input type="text" placeholder="Enter name">';
            cell2.innerHTML = '<input type="number" placeholder="Enter age">';
            cell3.innerHTML = '<button onclick="deleteRow(this)">Delete</button>';
        }

        function deleteRow(button) {
            const row = button.parentElement.parentElement;
            row.remove();
        }

      let headerCount = 11; // Jumlah awal header
      let bodyCount = 11; // Jumlah awal body

        // Fungsi untuk menambah header baru
        function addHeader() {
            headerCount++;
            bodyCount++;
        }

        // Fungsi untuk menghapus header terakhir
        function removeHeader() {
            if (headerCount <= 5 && bodyCount <= 5) {
                alert("Tidak bisa menghapus header lebih lanjut!");
                return;
            }else if(headerCount > 10 && bodyCount > 10){
              headerCount--;
              bodyCount--;
              for (let i = 0; i < 7; i++) {
                const table = document.getElementById('timesheets');
                const thead = table.querySelector('thead tr');
                const tbody = table.querySelector('tbody tr');

                // Menghapus header terakhir
                thead.removeChild(thead.lastElementChild);
                tbody.removeChild(tbody.lastElementChild);
              }
            }
            headerCount = 5;
            bodyCount = 5;
        }

      // ubah tanggal timesheet
      $(document).on('change', '.tanggal-timesheets', function(){
        var value = $(this).val();
        var parent_id = $('#parent-id').val();
        if (headerCount > 11 && bodyCount > 11) {
          removeHeader();
        }
        headerCount = 11;
        bodyCount = 11;
        addHeader();
        $.ajax({
          url: "/transaksi/timesheets/tanggal",
          method: 'GET',
          data : {
            authenticity_token: '<%= form_authenticity_token %>',
            tanggal:value
          },
          success: function(data)
          {
            for (let i = 0; i < data['data'].length; i++) {
              const element = data['data'][i];
              let table = document.getElementById("timesheets");
              let thead = table.getElementsByTagName("thead")[0];
              let newTh = document.createElement("th");
              if (element['libur'] == true || element['weekend'] == true) {
                newTh.innerHTML = `<span class="tanggal text-danger font-weight-bold">${element['hari']} <br> ${element['tanggal']} ${element['bulan']}</span>`;
              }else{
                newTh.innerHTML = `<span class="tanggal font-weight-bold">${element['hari']} <br> ${element['tanggal']} ${element['bulan']}</span>`;
              }
              thead.rows[0].appendChild(newTh);
              // <th class="days-column">Mon <br> Des 16</th>

              let tbody = table.getElementsByTagName("tbody")[0];
              let newTd = document.createElement("td");
              newTd.innerHTML = `
                <input
                      data-bs-toggle="popover"
                      data-bs-placement="top"
                      data-bs-html="true"
                      data-bs-offset="0,14"
                      title="Notes" 
                      data-content="
                      <input class='form-control form-control-sm mr-sm-2 bg-transparent border-0 text-muted' type='search' placeholder='Type something...'>"
                      class="form-control form-control-sm text-center" 
                      type="time" value="00:00" name="man_hours[]"
                      pattern="^([0-9]{1,2}):([0-5][0-9])$" required>
                      <input type="hidden" class="parent-id" name="parent_id[]" value="${parent_id}">
                      <input type="hidden" class="project-id" name="project_id[]">
                      <input type="hidden" class="activity-id" name="activity_id[]">
                      <input type="hidden" class="tipe-submit" name="type_submit[]">
                      <input type="hidden" name="tanggal[]" value="${element['tanggal_asli']}">
                      <input type="hidden" class="comment-`+element['tanggal_asli']+`" name="deskripsi[]">
                      <div class="text-center">
                        <button type="button" class="info-button" data-id=`+element['tanggal_asli']+` data-backdrop="true" data-toggle="modal" data-target="#comment">
                          <i class="fas fa-info-circle"></i>
                        </button>
                      </div>
              `;
              tbody.rows[0].appendChild(newTd);
            }
          }
        });
      });

      $(document).ready(function(){
        var parent_id = $('#parent-id').val();

        $.ajax({
          url: "/transaksi/timesheets/projects",
          method: 'GET',
          data : {
            authenticity_token: '<%= form_authenticity_token %>',
            id:1
          },
          success: function(data)
          {
            for (let i = 0; i < data['data'].length; i++) {
              const element = data['data'][i];
              $('.proyek').append(`
                <option value="${element['id']}">${element['nama_proyek']}</option>
              `);
            }
          }
        });

        if (headerCount > 11 && bodyCount > 11) {
          removeHeader();
        }
        headerCount = 11;
        bodyCount = 11;
        addHeader();
        $.ajax({
          url: "/transaksi/timesheets/tanggal",
          method: 'GET',
          data : {
            authenticity_token: '<%= form_authenticity_token %>',
            tanggal:null
          },
          success: function(data)
          {
            for (let i = 0; i < data['data'].length; i++) {
              const element = data['data'][i];
              let table = document.getElementById("timesheets");
              let thead = table.getElementsByTagName("thead")[0];
              let newTh = document.createElement("th");
              if (element['libur'] == true || element['weekend'] == true) {
                newTh.innerHTML = `<span class="tanggal text-danger font-weight-bold">${element['hari']} <br> ${element['tanggal']} ${element['bulan']}</span>`;
              }else{
                newTh.innerHTML = `<span class="tanggal font-weight-bold">${element['hari']} <br> ${element['tanggal']} ${element['bulan']}</span>`;
              }
              thead.rows[0].appendChild(newTh);
              // <th class="days-column">Mon <br> Des 16</th>

              let tbody = table.getElementsByTagName("tbody")[0];
              let newTd = document.createElement("td");
              newTd.innerHTML = `
                <input
                      data-bs-toggle="popover"
                      data-bs-placement="top"
                      data-bs-html="true"
                      data-bs-offset="0,14"
                      title="Notes" 
                      data-content="
                      <input class='form-control form-control-sm mr-sm-2 bg-transparent border-0 text-muted' type='search' placeholder='Type something...'>"
                      class="form-control form-control-sm text-center" 
                      type="time" value="00:00" name="man_hours[]"
                      pattern="^([0-9]{1,2}):([0-5][0-9])$" required>
                      <input type="hidden" class="parent-id" name="parent_id[]" value="${parent_id}">
                      <input type="hidden" class="project-id" name="project_id[]">
                      <input type="hidden" class="activity-id" name="activity_id[]">
                      <input type="hidden" class="tipe-submit" name="type_submit[]">
                      <input type="hidden" name="tanggal[]" value="${element['tanggal_asli']}">
                      <input type="hidden" class="comment-`+element['tanggal_asli']+`" name="deskripsi[]">
                      <div class="text-center">
                        <button type="button" class="info-button" data-id=`+element['tanggal_asli']+`  data-backdrop="true" data-toggle="modal" data-target="#comment">
                          <i class="fas fa-info-circle"></i>
                        </button>
                      </div>
              `;
              tbody.rows[0].appendChild(newTd);
            }
          }
        });

        $.ajax({
          url: "/transaksi/timesheets/list-timesheet",
          method: 'GET',
          data : {
            authenticity_token: '<%= form_authenticity_token %>',
            tanggal:null
          },
          success: function(data)
          {
            console.log(data);
          }
        });
      });

    // tambah row timesheet
      var id = 1;
      $(document).on('click', '.tambah-timesheet', function(){
        id++;
        var parent_id = Math.floor(Math.random() * 1000000);
        $(`.proyek-${id}`).empty();
        $(`.aktifitas-${id}`).empty();
        const table = document.getElementById('timesheets').getElementsByTagName('tbody')[0];
        const newRow = table.insertRow();

        const cell1 = newRow.insertCell(0);
        const cell2 = newRow.insertCell(1);
        const cell3 = newRow.insertCell(2);
        const cell4 = newRow.insertCell(3);

        cell1.innerHTML = '<a class="ml-2 close" onclick="deleteRow(this)" style="cursor: pointer; color: black;"><span class="fe fe-x-circle fe-16 mr-2"></span></a>';
        cell2.innerHTML = `
          <input type="hidden" name="parent_id[]" value="${parent_id}">
          <select class="form-control form-control-sm select2 bg-transparent border-0 text-center proyek-`+id+`" id="proyek-`+parent_id+`" data-id="${id}" title="Judul Popover">
            <%# <optgroup label="Select Project"> %>
              <option value="" >Select Project</option>
            <%# </optgroup> %>
          </select>
        `;
        cell3.innerHTML = '';
        cell4.innerHTML = `
          <select class='form-control form-control-sm mr-sm-2 bg-transparent border-0 text-muted select2 aktifitas-`+id+`' id="aktifitas-`+parent_id+`" data-id="${id}" type='search' style="width: 100%;">
            <%# <optgroup label="Select Project"> %>
              <option value="" >Select Activity</option>
            <%# </optgroup> %>
          </select>
        `;

        var value = $('.tanggal-timesheets').val();
        $.ajax({
          url: "/transaksi/timesheets/tanggal",
          method: 'GET',
          data : {
            authenticity_token: '<%= form_authenticity_token %>',
            tanggal:value
          },
          success: function(data)
          {
            for (let i = 0; i < data['data'].length; i++) {
              const element = data['data'][i];
              var no1 = i + 1;
              var no = Math.floor(Math.random() * 100);
              const cell5 = newRow.insertCell(3+no1);
              cell5.innerHTML = `
                <input
                      data-bs-toggle="popover"
                      data-bs-placement="top"
                      data-bs-html="true"
                      data-bs-offset="0,14"
                      title="Notes" 
                      data-content="
                      <input class='form-control form-control-sm mr-sm-2 bg-transparent border-0 text-muted' type='search' placeholder='Type something...'>"
                      class="form-control form-control-sm text-center" 
                      type="time" value="00:00" name="man_hours[]" 
                      pattern="^([0-9]{1,2}):([0-5][0-9])$" required>
                      <input type="hidden" class="parent-id" name="parent_id[]" value="${parent_id}">
                      <input type="hidden" class="project-id-${parent_id}" name="project_id[]">
                      <input type="hidden" class="activity-id-${parent_id}" name="activity_id[]">
                      <input type="hidden" name="tanggal[]" value="${element['tanggal_asli']}">
                      <input type="hidden" class="tipe-submit" name="type_submit[]">
                      <input type="hidden" class="comment2-`+element['tanggal_asli']+`-`+no+`" name="deskripsi[]">
                      <div class="text-center">
                        <button type="button" class="info-button2" data-id=`+element['tanggal_asli']+` data-loop=`+no+` data-backdrop="true" data-toggle="modal" data-target="#comment2">
                          <i class="fas fa-info-circle"></i>
                        </button>
                      </div>
              `;
            }
          }
        });

        $.ajax({
          url: "/transaksi/timesheets/projects",
          method: 'GET',
          data : {
            authenticity_token: '<%= form_authenticity_token %>',
            id:1
          },
          success: function(data)
          {
            for (let i = 0; i < data['data'].length; i++) {
              const element = data['data'][i];
              $(`.proyek-${id}`).append(`
                <option value="${element['id']}">${element['nama_proyek']}</option>
              `);
            }
          }
        });

        $(document).on('change', `.proyek-${id}`, function(){
          var value = $(this).val();
          var id = $(this).data('id');
          $(`.aktifitas-${id}`).empty();
          $.ajax({
            url: "/transaksi/timesheets/activity-team-project",
            method: 'GET',
            data : {
              authenticity_token: '<%= form_authenticity_token %>',
              id:value
            },
            success: function(data)
            {
              for (let i = 0; i < data['data'].length; i++) {
                const element = data['data'][i];
                $(`.aktifitas-${id}`).append(`
                  <option value="${element['id']}">${element['nama_aktifitas']}</option>
                `);
              }
            }
          });
        });

        $(`.proyek-${id}`).on('change', function(){
          setTimeout(() => {
            var proyek = $(`#proyek-${parent_id} option:selected`).val();
            var aktifitas = $(`#aktifitas-${parent_id} option:selected`).val();
            $(`.project-id-${parent_id}`).val(this.value);
            $(`.activity-id-${parent_id}`).val(aktifitas);
          }, 200);
        });

        $(`.aktifitas-${id}`).on('change', function(){
          setTimeout(() => {
            var aktifitas = $(`#aktifitas-${parent_id} option:selected`).val();
            $(`.activity-id-${parent_id}`).val(aktifitas);
          }, 200);
        });
      });

      $(document).on('click', '.info-button', function(){
        var id = $(this).data('id');
        var keterangan = $(`.comment-${id}`).val();
        $('.keterangan').html(`
          <textarea class="form-control ket" data-id=`+id+`>${keterangan}</textarea>
        `);
        $("textarea").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden; width: 100%; min-height: 100px;");
        }).on("keyup click", function () {
            this.style.height = 0;
            this.style.height = (this.scrollHeight) + "px";
        });
      });

      $(document).on('click', '.info-button2', function(){
        var id = $(this).data('id');
        var loop = $(this).data('loop');
        var keterangan = $(`.comment2-${id}-${loop}`).val();
        $('.keterangan2').html(`
          <textarea class="form-control ket2" data-id=`+id+` data-loop=`+loop+`>${keterangan}</textarea>
        `);
        $("textarea").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden; width: 100%; min-height: 100px;");
        }).on("keyup click", function () {
            this.style.height = 0;
            this.style.height = (this.scrollHeight) + "px";
        });
      });

      $(document).on('keyup', '.ket', function(){
        var id = $(this).data('id');
        var value = $(this).val();
        $(`.comment-${id}`).val(value);
      });

      $(document).on('keyup', '.ket2', function(){
        var id = $(this).data('id');
        var loop = $(this).data('loop');
        var value = $(this).val();
        $(`.comment2-${id}-${loop}`).val(value);
      });

      $(document).on('change', '.proyek', function(){
        var value = $(this).val();
        $('.aktifitas').empty();
        $.ajax({
          url: "/transaksi/timesheets/activity-team-project",
          method: 'GET',
          data : {
            authenticity_token: '<%= form_authenticity_token %>',
            id:value
          },
          success: function(data)
          {
            for (let i = 0; i < data['data'].length; i++) {
              const element = data['data'][i];
              $('.aktifitas').append(`
                <option value="${element['id']}">${element['nama_aktifitas']}</option>
              `);
            }
          }
        });
      });

      $('.proyek').on('change', function(){
        setTimeout(() => {
          var proyek = $('#proyek option:selected').val();
          var aktifitas = $('#aktifitas option:selected').val();
          $('.project-id').val(this.value);
          $('.activity-id').val(aktifitas);
        }, 200);
      });

      $('.aktifitas').on('change', function(){
        setTimeout(() => {
          var aktifitas = $('#aktifitas option:selected').val();
          $('.activity-id').val(aktifitas);
        }, 200);
      });

      $('.select2').select2({
        theme: 'bootstrap4'
      })
      $('.select2-multi').select2({
        multiple: true,
        theme: 'bootstrap4'
      })
      $('.drgpicker').daterangepicker({
        singleDatePicker: true,
        timePicker: false,
        showDropdowns: true,
        locale: {
          format: 'MM/DD/YYYY'
        }
      })
      $('.time-input').timepicker({
        scrollDefault: 'now',
        zindex: '9999' /* fix modal open */
      })
      /** date range picker */
      if ($('.datetimes').length) {
        $('.datetimes').daterangepicker({
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale: {
            format: 'M/DD hh:mm A'
          }
        })
      }
      var start = moment().subtract(29, 'days')
      var end = moment()

      function cb(start, end) {
        $('#reportrange span').html(
          start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY')
        )
      }
      $('#reportrange').daterangepicker(
        {
          startDate: start,
          endDate: end,
          ranges: {
            Today: [moment(), moment()],
            Yesterday: [
              moment().subtract(1, 'days'),
              moment().subtract(1, 'days')
            ],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [
              moment().subtract(1, 'month').startOf('month'),
              moment().subtract(1, 'month').endOf('month')
            ]
          }
        },
        cb
      )
      cb(start, end)
    </script>