<div class="card">
    <div class="card-header" style="background-color: none">
     <h4><%= @loan.id ? "Edit" : "Tambah"%> Peminjaman</h4>
    </div>
    <div class="card-body mt-0">
      <div class="row" style="margin-bottom: 0px;">
        <div class="col-sm-12">
          <%= form_with(model: loan, local: true) do |form| %>
            <% if loan.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

                <ul>
                <% loan.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            
            
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :user_id %>
                 <input type="text" class="form-control" value="<%= current_user.username %>" readonly>
                 <input type="hidden" name="loan[user_id]" class="form-control" value="<%= current_user.id %>" readonly>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.label :from_date %>
                        <input type="date" class="form-control from-date" onchange="fromDate()" name="loan[from_date]" value="<%= @loan.id ? @loan.from_date : "" %>" required>
                        <i class="notification_datefrom text-danger"></i>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.label :to_date %>
                      <input type="date" class="form-control to-date" onchange="toDate()" name="loan[to_date]" value="<%= @loan.id ? @loan.to_date : "" %>" required>
                      <i class="notification_dateto text-danger"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :inventory_id %>
                  <select name="loan[inventory_id]" id="inventory_id" class="form-control" required>
                    <option value="" selected>--Pilih--</option>
                    <% @inventories.each do |inventory| %>
                      <% if @loan.id.nil? %>
                        <option value="<%= inventory.id %>"><%= inventory.merek %></option>
                      <% else %>
                        <% if @loan.inventory_id == inventory.id %>
                          <option value="<%= inventory.id %>" selected><%= inventory.merek %></option>
                        <% else %>
                          <option value="<%= inventory.id %>"><%= inventory.merek %></option>
                        <% end %>
                      <% end %>
                    <% end %>
                  </select>
                  <i class="notification_stock text-danger"></i>
                </div>
                <div class="form-group">
                  <%= form.label "Atasan Terkait" %>
                  <input type="text" class="form-control" name="loan[penanggung_jawab]" value="<%= @loan.id ? @loan.penanggung_jawab : "" %>" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :deskripsi %>
                  <textarea class="form-control" name="loan[deskripsi]" required><%= @loan.id ? @loan.deskripsi : "" %></textarea>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label style="color: transparent;">text</label><br>
                  <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#inventory_id').select2();

  function fromDate(){
    const from_date = $('.from-date').val();
    const to_date = $('.to-date').val();
    if (from_date > to_date) {
      $('.notification_datefrom').text('Tanggal harus lebih kecil');
      $('#submit').prop('disabled', true);
    }else{
      $('.notification_datefrom').text('');
      $('.notification_dateto').text('');
      $('#submit').prop('disabled', false);
    }
  }

  function toDate(){
    const to_date = $('.to-date').val();
    const from_date = $('.from-date').val();
    if (to_date < from_date) {
      $('.notification_dateto').text('Tanggal harus lebih besar');
      $('#submit').prop('disabled', true);
    }else{
      $('.notification_dateto').text('');
      $('.notification_datefrom').text('');
      $('#submit').prop('disabled', false);
    }
  }
  $(document).on('change', '#inventory_id', function(){
    var inventory_id = $(this).val();
    $.ajax({
        url: "<%= checkInventory_helper_json_index_path %>",
        method: 'GET',
        data : {
                id:inventory_id
                },
        success: function(data)
        {
          if (data[0]['status'] == "sudah dipinjam") {
            $('.notification_stock').text('Barang Sedang Dipinjam');
            $('#submit').prop('disabled', true);
          }else if(data[0]['status'] == "tersedia"){
            $('.notification_stock').text('');
            $('#submit').prop('disabled', false);
          }
        }
    });
  });
</script>


