<div class="container-fluid">
  <div class="card shadow mb-4">
      <div class="card-header mt-2">
        <h4>Data Peminjaman</h4>
        <div class="card-header-form">
          <% if current_user.can? { |permissions| permissions.user.create? } %>
            <div class="align-items-center">
              <%= link_to "+ Peminjaman", new_loan_path, class: "btn btn-primary btn-sm" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="formModal"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="formModal">Detail</h5>
              <button type="button" class="close" id="close-modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Nama Peminjam</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="nama_peminjam" disabled>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Atasan Langsung</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="penanggung_jawab" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Inventory</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="inventory" disabled>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Deskripsi</label>
                      <div class="input-group">
                        <textarea class="form-control" id="deskripsi" disabled></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>From Date</label>
                      <div class="input-group">
                        <input type="date" class="form-control" id="from_date" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>To Date</label>
                      <div class="input-group">
                        <input type="date" class="form-control" id="to_date" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Status</label>
                      <div class="input-group">
                        <div id="status"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable_user" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="text-center" style="width: 20px;">No</th>
              <th>User</th>
              <th>Inventory</th>
              <th>From date</th>
              <th>To date</th>
              <th>Status</th>
              <th class="text-center" style="width: 100px;">Action</th>
            </tr>
          </thead>
          <tbody>
          <% @loans.each_with_index do |loan, index| %>
            <tr>
              <td class="text-center"><%= index+1 %></td>
              <td><%= loan.user.try(:username) %></td>
              <td><%= loan.inventory.try(:merek) %></td>
              <td><span class="badge badge-default" style="color: black;"><%= loan.from_date %></span></td>
              <% if Date.current >= loan.to_date && loan.status == 2 %>
                <td><span class="badge badge-danger" style="color: black;"><%= loan.to_date %></span></td>
              <% elsif Date.current + 1.day >= loan.to_date && loan.status == 2 %>
                <td><a href="#" title="Tinggal satu hari lagi"><span class="badge badge-warning" style="color: black;"><%= loan.to_date %></span></a></td>
              <% else %>
                <td><%= loan.to_date %></td>
              <% end %>
              <td>
                <% if loan.status == 0 %>
                  <span class="badge badge-info">Pending</span>
                <% elsif loan.status == 1 %>
                  <span class="badge badge-danger">Rejected</span>
                <% elsif loan.status == 2 %>
                  <span class="badge badge-success">Approved</span>
                <% elsif loan.status == 3 %>
                  <span class="badge badge-primary">Closed</span>
                <% end %>
              </td>
              <td style="width: 150px;" class="text-center">
                <%
=begin%>
 <% if current_user.can? { |permissions| permissions.loan.update? || permissions.loan.destroy? } %> 
<%
=end%>            
                  <button class="btn btn-info btn-circle btn-sm" id="detail" data-toggle="modal" data-target="#detail" data-id="<%= loan.id %>">Detail</button>
                  <% if current_user.roles.any? { |r| r.name != 'admin'} %>
                    <% if loan.status == 0 %>
                      <a href="<%= edit_loan_path(loan) %>" class="btn btn-warning btn-circle btn-sm">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                      <%= link_to loan_path(loan), method: :delete, class: 'btn btn-danger btn-circle btn-sm' do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>
                    <% end %>
                  <% end %>

                  <% if current_user.roles.any? { |r| r.name == 'admin'} && loan.status == 0 %>
                    <button class="btn btn-success btn-circle btn-sm" id="approval" data-id="<%= loan.id %>" data-confirm="Are you sure?">Approve</button>
                    <button class="btn btn-danger btn-circle btn-sm" id="reject" data-id="<%= loan.id %>" data-confirm="Are you sure?">Reject</button>
                  <% end %>
                  <% if current_user.roles.any? { |r| r.name == 'admin'} && loan.status == 2 %>
                    <button class="btn btn-success btn-circle btn-sm" id="dikembalikan" data-id="<%= loan.id %>" data-confirm="Are you sure?">Closed</button>
                  <% end %>
              <% end %>
              </td>
            </tr>
            <%
=begin%>
 <% end %> 
<%
=end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on('click','#approval', function(){
    var id = $(this).data('id');
     $.ajax({
        url: "<%= approve_helper_json_index_path %>",
        method: 'GET',
        data : {
                id:id,
                status:2
                },
        success: function(data)
        {
          window.location = "/loans";
        }
    });
  });

  $(document).on('click','#reject', function(){
    var id = $(this).data('id');
     $.ajax({
        url: "<%= reject_helper_json_index_path %>",
        method: 'GET',
        data : {
                id:id,
                status:1
                },
        success: function(data)
        {
          window.location = "/loans";
        }
    });
  });

  $(document).on('click','#dikembalikan', function(){
    var id = $(this).data('id');
     $.ajax({
        url: "<%= done_helper_json_index_path %>",
        method: 'GET',
        data : {
                id:id,
                status:3
                },
        success: function(data)
        {
          window.location = "/loans";
        }
    });
  });

  $(document).on('click','#detail', function(){
    var id = $(this).data('id');
    $('#nama_peminjam').val('');
    $('#inventory').val('');
    $('#from_date').val('');
    $('#to_date').val('');
    $('#penanggung_jawab').val('');
    $('#status').empty();
     $.ajax({
        url: "<%= getDetailPeminjaman_helper_json_index_path %>",
        method: 'GET',
        data : {
                id:id,
                },
        success: function(data)
        {
          $('#nama_peminjam').val(data[0]['nama_peminjam']);
          $('#deskripsi').val(data[0]['deskripsi']);
          $('#inventory').val(data[0]['inventory']);
          $('#from_date').val(data[0]['from_date']);
          $('#to_date').val(data[0]['to_date']);
          $('#penanggung_jawab').val(data[0]['penanggung_jawab']);
          viewHtml = '';

          if (data[0]['status'] == 0){
            viewHtml += '<span class="badge badge-info">Pending</span>'
          }else if (data[0]['status'] == 1){
             viewHtml += '<span class="badge badge-danger">Rejected</span>'
          }else if (data[0]['status'] == 2){
             viewHtml += '<span class="badge badge-success">Approved</span>'
          }else if (data[0]['status'] == 3){
             viewHtml +=  '<span class="badge badge-primary">Closed</span>'
          }
          $('#status').append(viewHtml);
        }
    });
  });
</script>
