<div class="row" style="justify-content: center;" >
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <%= form_for @role do |f| %>
          <% if @role.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

              <ul>
              <% @role.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <label>Nama</label>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <div class="icheck-material-primary icheck-inline">
              <input type="checkbox" id="selectAll" value="selectAll"/>
              <label for="selectAll">Select All</label>
            </div>
          </div>
          <%= render partial: "permissions", locals: {f: f, name: :permissions_attributes, permissions: @role.permissions} %>
          <div class="form-group">
            <button type="submit" class="btn btn-primary px-3 pull-right">Submit</button>
            <a href="<%= roles_path %>" class="btn btn-light px-3 pull-left">Cancel</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>