<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Timesheet</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'app-dark', media: 'all', 'data-turbolinks-track': 'reload', disabled: true, id:"darkTheme" %>
    <%= stylesheet_link_tag    'app-light', media: 'all', 'data-turbolinks-track': 'reload', id:"lightTheme" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'sena.png', rel: 'icon' %>
</head>

  <% if user_signed_in? %>
    <body class="horizontal light">
        <div class="wrapper">
          
          <nav class="navbar navbar-expand-lg navbar-light bg-white flex-row border-bottom shadow">
            <%= render "layouts/partials/navbar" %>
          </nav>

          <!-- Main Content -->
          <main role="main" class="main-content">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-11">
                  <%= yield %>
                </div>
              </div>
            </div>
          </main>
        </div>
      <!-- General JS Scripts -->
    <%= javascript_include_tag 'footer_script', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'charts' %>
    </body>
  <% else %>
    <body class="light">
      <%= yield %>
    </body>
  <% end %>

  <script>
    if("<%= notice %>" != "") {
        setTimeout(function () {
          toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'slideDown',
                timeOut: 3000
          };
          toastr.success('<%= notice %>', 'Informasi').css("width","400px");

        }, 500);
    } else

    if("<%= alert %>" != "") {
        setTimeout(function () {
          toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'slideDown',
                timeOut: 3000
          };
          toastr.error('<%= alert %>', 'Informasi').css("width","400px");

        }, 500);
    }

  </script>

</html>
